lightly==1.1.7
pytorch-lightning==1.0.4
scikit-learn==0.24.1
fire==0.4.0
torch==1.7.1
matplotlib==3.3.4
imbalanced-learn==0.7.0
pandas==1.2.2
git+https://github.com/qubvel/segmentation_models.pytorch.git
scikit-image
